body{
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
    
    
}

#principal-topo{
    width: 1024px;
    margin: auto;
    position: relative;
    
}

#img-principal{
    margin-top: 30px;
}

#logo img{
    position: absolute;
    top: 0;
    left: 200px;
    display: inline-block;
    
} 

#menu{
    text-align: right;
    position: relative;
    top: 10px;
    right: 30px;
    
}

#menu a{
    padding: 10px;
    color: #425564;
    text-decoration: none;
    font-size: 15px;
    
}

#menu a:hover{
    color: #FFF;
    transition: 0.8s;
}

#principal{
    background-color: #162028;
}

#section-1 p{
    color: grey;
}

#section-1{
    width: 40%;
    margin: auto;
    text-align: center;
}

#section-2{
    width: 40%;
    margin: auto;
    padding-top: 60px;
}

#img-1{
    width: 30%;
    float: left;
    margin-right: 5%;
}

#img-2{
    width: 30%;
    float: left;
    margin-right: 5%;
}

#img-3{
    width: 30%;
    float: left;
}

#section-2, h3, p{
    text-align: center;

}

#section-2 p{
    color: grey;
}

#section-2 h3{
    color: rgb(71, 71, 71);
}



#section-3 img{
    display: block;
    width: 1024px;
    margin: auto;
    height: 500px;
}

#section-3{
    background-image: url(/Fotos/imagens/bg_detalhe.png);
    width: 1024px;
    height: 500px;
    margin: auto;
    margin-top: 400px;
    background-size: cover;
    background-position: bottom bottom;
}

#texto-1{
    padding-top: 30px;
}

#texto-2{
    text-align: left;
    color: #FFF;
    margin: 30px;
    padding: 30px;
}

#texto-2 h1{
    font-size: 40px;
    font-family: 'Open sans', sans-serif;
    
}

#texto-2 p{
    width: 450px;
    font-size: 15px;
}

#outra-section{
    color: #425564;
    padding: 20px;
}

#outra-section h3{
    
}

iframe{
    width: 1024px;
    margin: auto;
    padding-left: 440px;
}